# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root                     = true

[*]
end_of_line              = lf
insert_final_newline     = true
indent_style             = space
indent_size              = 4
charset                  = utf-8
trim_trailing_whitespace = true

[Makefile]
indent_style             = tab
tab_width                = 4

[*.{mk,c,h,awk,bat,frag,lemon,re}]
indent_style             = tab
tab_width                = 4

[*.md]
trim_trailing_whitespace = false

[*.{yml,m4,json,xml,sh}]
indent_size              = 2
