.settings/
.idea
.cproject
.project
ext/ltmain.sh
unit-tests/engines/*
unit-tests/logs/*
build/.deps
build/.libs/
build/Makefile
build/Makefile.fragments
build/Makefile.global
build/Makefile.objects
build/acinclude.m4
build/aclocal.m4
build/autom4te.cache/
build/build/
build/config.guess
build/config.h
build/config.h.in
build/config.log
build/config.nice
build/config.status
build/config.sub
build/configure
build/configure.in
build/install-sh
build/libtool
build/ltmain.sh
build/missing
build/mkinstalldirs
build/modules/
build/phalcon.la
build/phalcon.lo
build/run-tests.php
ext/.deps
ext/.libs/
ext/Makefile
ext/Makefile.fragments
ext/Makefile.global
ext/Makefile.objects
ext/acinclude.m4
ext/aclocal.m4
ext/autom4te.cache/
ext/build/
ext/config.guess
ext/config.h
ext/config.h.in
ext/config.lo
ext/config.log
ext/config.nice
ext/config.status
ext/config.sub
ext/config/.libs/
ext/config/adapter/.libs/
ext/config/adapter/ini.lo
ext/config/exception.lo
ext/configure
ext/configure.in
ext/install-sh
ext/kernel/.libs/
ext/kernel/array.lo
ext/kernel/assert.lo
ext/kernel/concat.lo
ext/kernel/debug.lo
ext/kernel/exception.lo
ext/kernel/fcall.lo
ext/kernel/main.lo
ext/kernel/memory.lo
ext/kernel/object.lo
ext/kernel/operators.lo
ext/kernel/require.lo
ext/libtool
ext/missing
ext/mkinstalldirs
ext/modules/
ext/phalcon.la
ext/phalcon.lo
ext/run-tests.php
unit-tests/views/test10/children.extends.volt.php
unit-tests/views/test10/children2.volt.php
unit-tests/views/test10/children.volt.php
build/gccarch
build/32bits/.deps
build/32bits/.libs/
build/32bits/Makefile
build/32bits/Makefile.fragments
build/32bits/Makefile.global
build/32bits/Makefile.objects
build/32bits/acinclude.m4
build/32bits/aclocal.m4
build/32bits/autom4te.cache/
build/32bits/build/
build/32bits/config.guess
build/32bits/config.h
build/32bits/config.h.in
build/32bits/config.log
build/32bits/config.nice
build/32bits/config.status
build/32bits/config.sub
build/32bits/configure
build/32bits/configure.in
build/32bits/install-sh
build/32bits/libtool
build/32bits/ltmain.sh
build/32bits/missing
build/32bits/mkinstalldirs
build/32bits/modules/
build/32bits/phalcon.la
build/32bits/phalcon.lo
build/32bits/run-tests.php
build/phalcon.o
build/64bits/.deps
build/64bits/.libs/
build/64bits/Makefile
build/64bits/Makefile.fragments
build/64bits/Makefile.global
build/64bits/Makefile.objects
build/64bits/acinclude.m4
build/64bits/aclocal.m4
build/64bits/autom4te.cache/
build/64bits/build/
build/64bits/config.guess
build/64bits/config.h
build/64bits/config.h.in
build/64bits/config.log
build/64bits/config.nice
build/64bits/config.status
build/64bits/config.sub
build/64bits/configure
build/64bits/configure.in
build/64bits/install-sh
build/64bits/libtool
build/64bits/ltmain.sh
build/64bits/missing
build/64bits/mkinstalldirs
build/64bits/modules/
build/64bits/phalcon.la
build/64bits/phalcon.lo
build/64bits/run-tests.php
build/safe/.deps
build/safe/.libs/
build/safe/Makefile
build/safe/Makefile.fragments
build/safe/Makefile.global
build/safe/Makefile.objects
build/safe/acinclude.m4
build/safe/aclocal.m4
build/safe/autom4te.cache/
build/safe/build/
build/safe/config.guess
build/safe/config.h
build/safe/config.h.in
build/safe/config.log
build/safe/config.nice
build/safe/config.status
build/safe/config.sub
build/safe/configure
build/safe/configure.in
build/safe/install-sh
build/safe/libtool
build/safe/ltmain.sh
build/safe/missing
build/safe/mkinstalldirs
build/safe/modules/
build/safe/phalcon.la
build/safe/phalcon.lo
build/safe/run-tests.php
unit-tests/annotations/cache/*.php
*.o
*.lo
*.loT
*.gch
.libs
build/t.dSYM/
build/install2
*~
.DS_Store
ext/.DS_Store
.temp/
composer.lock
composer.phar
php-tests/tests/var/logs/*.log
compile-errors.log
compile.log
.vagrant
Vagrantfile
tests/_output/*
build/.gitignore
build/32bits/tests/
build/64bits/tests/
build/README.md
build/install-gentoo
build/safe/tests/
ext/phalcon/mvc/view/engine/volt/lemon
ext/phalcon/mvc/view/engine/volt/parser.out
ext/phalcon/annotations/lemon
ext/phalcon/annotations/lemon.dSYM/
ext/phalcon/annotations/parser.out
ext/phalcon/mvc/model/query/lemon
ext/phalcon/mvc/model/query/parser.out
