[submodule "php-tests/library/Mustache"]
	path   = php-tests/library/Mustache
	url    = https://github.com/bobthecow/mustache.php.git
	branch = master

[submodule "php-tests/library/Twig"]
	path   = php-tests/library/Twig
	url    = https://github.com/fabpot/Twig.git
	branch = master
