*.zep.h linguist-language=C
*.zep.c linguist-language=C
*.sql   linguist-language=SQL
*.w32   linguist-language=JavaScript

ext/**           linguist-vendored
build/phalcon/** linguist-vendored

*.png   binary

tests/support/assets/*  -text

# `git archive` produces the tarball that Composer 
# and PIE download. Prune what no consumer needs to 
# build the extension.

/.github    export-ignore
/phalcon    export-ignore
/resources  export-ignore
/tests      export-ignore
