
unit-tests/engines/*
unit-tests/cache/*
release/.deps
release/.libs/
release/Makefile
release/Makefile.fragments
release/Makefile.global
release/Makefile.objects
release/acinclude.m4
release/aclocal.m4
release/build/
release/config.cache
release/config.guess
release/config.h
release/config.h.in
release/config.log
release/config.nice
release/config.status
release/config.sub
release/configure
release/configure.in
release/install
release/install-sh
release/libtool
release/ltmain.sh
release/missing
release/mkinstalldirs
release/modules/
release/phalcon.la
release/phalcon.lo
release/run-tests.php
.idea
