.settings/
.idea
unit-tests/engines/*
build/.deps
build/.libs/
build/Makefile
build/Makefile.fragments
build/Makefile.global
build/Makefile.objects
build/acinclude.m4
build/aclocal.m4
build/autom4te.cache/
build/build/
build/config.guess
build/config.h
build/config.h.in
build/config.log
build/config.nice
build/config.status
build/config.sub
build/configure
build/configure.in
build/install-sh
build/libtool
build/ltmain.sh
build/missing
build/mkinstalldirs
build/modules/
build/phalcon.la
build/phalcon.lo
build/run-tests.php
