language:
  - php
  - c

php:
  - 5.3
  - 5.3.3
  - 5.4
  - 5.5

services:
  - mongodb
  - memcached

before_install:
 - sudo apt-get install libqrencode-dev libpng-dev libzbar-dev
 - ./unit-tests/ci/install_prereqs.sh
 - ./unit-tests/ci/setup_dbs.sh
 - (cd /tmp; wget -q -O - http://www.xunsearch.com/scws/down/scws-1.2.2.tar.bz2 | tar xjf -; cd scws-1.2.2 ; ./configure ; sudo make install; sudo ldconfig)

before_script:
 - git submodule --quiet update --init --recursive
 - (cd php-tests/library/Mustache; git checkout master)
 - (cd php-tests/library/Twig; git checkout master)
 - (cd unit-tests/engines/; git clone -q git://github.com/bobthecow/mustache.php.git & git clone -q git://github.com/fabpot/Twig.git & wait)
 - (cd ext; export CFLAGS="-g3 -O1 -std=gnu90 -Wall -Werror -Wno-error=uninitialized"; phpize && ./configure --silent --enable-phalcon && make --silent -j4 > /dev/null && sudo make --silent install && phpenv config-add ../unit-tests/ci/phalcon.ini)
 - ulimit -c unlimited || true

script:
 - ./unit-tests/ci/run_php_tests.sh
 - $(phpenv which php) ./unit-tests/ci/phpunit.php --debug -c unit-tests/phpunit.xml
 - PHALCON_NO_RVO=1 $(phpenv which php) ./unit-tests/ci/phpunit.php --debug -c unit-tests/phpunit.xml

after_failure:
 - sudo apt-get -qq install gdb
 - ./unit-tests/ci/after_failure.sh

notifications:
  email:
    - andres@phalconphp.com
    - eduar@phalconphp.com
    - nikos@phalconphp.com
    - vladimir@phalconphp.com
