sudo: false

language: php
php:
  - 7.4snapshot
  - 7.3
  - 7.2

dist: bionic

git:
  depth: 1

addons:
  apt:
    packages:
      - gdb
      - lcov
  postgresql: "9.4"

matrix:
  fast_finish: true
  allow_failures:
    - php: 7.4snapshot

cache:
  apt: true
  timeout: 604800
  directories:
    - ${HOME}/.composer/cache
    - ${HOME}/pear
    - ${HOME}/.local/opt

services:
  - mysql
  - mongodb
  - redis-server
  - postgresql
  - memcached

env:
  global:
    - CC="gcc"
    - ZEPHIR_VERSION="0.12.0"
    - ZEPHIR_PARSER_VERSION="v1.3.0"
    - RE2C_VERSION="1.1.1"
    - REPORT_COVERAGE=1
    - PATH="${HOME}/.composer/vendor/bin:${PATH}"
    - DEFAULT_COMPOSER_FLAGS="--no-interaction --no-ansi --no-progress --no-suggest"

before_install:
  - |
    ulimit -c unlimited -S || true

    if [ ! -z "${GITHUB_TOKEN}" ]; then
      composer config github-oauth.github.com ${GITHUB_TOKEN}
      printf "Add GitHub token\n"
    fi

    [ -d ~/bin ] || mkdir ~/bin

    git config --global advice.detachedHead false

  - source .ci/export-variables.sh

install:
  - .ci/install-mysql-5.7.sh
  - .ci/setup-dbs.sh
  - .ci/pear-setup.sh
  - .ci/install-re2c.sh
  - .ci/install-zephir.sh
  - .ci/install-php-extensions.sh
  - travis_retry composer install $DEFAULT_COMPOSER_FLAGS

before_script:
  - |
    # Setting up Travis' PHP
    cat .ci/travis.ini >> $(phpenv root)/versions/$(phpenv version-name)/etc/conf.d/travis.ini
    if [ "$(php-config --vernum)" -ge "70400" ]; then
      export REPORT_COVERAGE=0
    fi
  - .ci/build.sh

script:
  - vendor/bin/codecept build --quiet
  - vendor/bin/codecept run --ext DotReporter tests/cli/
  - vendor/bin/codecept run --ext DotReporter tests/integration/
  - vendor/bin/codecept run --ext DotReporter tests/unit/

  - .ci/run-volt-tests.sh

jobs:
  include:
    - stage: Static Code Analysis
      php: 7.2
      env:
        - REPORT_COVERAGE=0
      install:
        - travis_retry composer install $DEFAULT_COMPOSER_FLAGS --ignore-platform-reqs
      before_script:
        - phpenv config-rm xdebug.ini || true
      script:
        - vendor/bin/phpcs

after_failure:
  - .ci/after-failure.sh

after_success:
  - .ci/after-success.sh

notifications:
  email: false
