language: php

sudo: required
dist: precise

php:
  - 5.5
  - 5.6
  - 7.0

git:
  depth: 1

cache:
  apt: true
  ccache: true
  timeout: 691200
  directories:
    - .temp
    #- vendor
    - $HOME/.ccache
    - $HOME/.composer/cache

services:
  - mongodb
  - memcached
  - redis-server
  - postgresql

env:
  global:
    - TEST_BT_HOST="127.0.0.1"
    - TEST_BT_PORT="11300"
    - TEST_MC_HOST="127.0.0.1"
    - TEST_MC_PORT="11211"
    - TEST_DB_MYSQL_HOST="127.0.0.1"
    - TEST_DB_MYSQL_PORT="3306"
    - TEST_DB_MYSQL_USER="root"
    - TEST_DB_MYSQL_PASSWD=""
    - TEST_DB_MYSQL_NAME="phalcon_test"
    - TEST_DB_MYSQL_CHARSET="utf8"
    - TEST_DB_MYSQL_DSN="mysql:host=127.0.0.1;dbname=phalcon_test"
    - TEST_DB_MONGO_HOST="127.0.0.1"
    - TEST_DB_MONGO_PORT="27017"
    - TEST_DB_MONGO_USER="admin"
    - TEST_DB_MONGO_PASSWD=""
    - TEST_DB_MONGO_NAME="phalcon_test"
    - TEST_RS_HOST="127.0.0.1"
    - TEST_RS_PORT="6379"
    - ZEND_DONT_UNLOAD_MODULES=1
    - CC="ccache gcc"
    - PHPIZE_BIN="$(which phpize 2> /dev/null || which phpize5 2> /dev/null)"

before_install:
  - export PATH=$PATH:~/bin;
  - composer self-update -q
  - travis_retry composer --prefer-source install
  - bash tests/_ci/install_prereqs.sh
  - bash tests/_ci/setup_dbs.sh
  - bash tests/_ci/install_zephir.sh
  - bash tests/_ci/install_beanstalkd.sh
  - '[[ "$TRAVIS_PHP_VERSION" == "7.0" ]] || ( zephir fullclean && zephir generate )'
  - '[[ "$TRAVIS_PHP_VERSION" != "7.0" ]] || ( zephir fullclean && zephir generate --backend=ZendEngine3 )'

before_script:
  - (export PRE_PHP_INCLUDES=`php-config --includes`; cd ext/; for file in `find kernel -name "*.h"`; do $CC "$file" -I. $PRE_PHP_INCLUDES -o "$file.ghc"; done)
  - (cd ext; export CFLAGS="-g3 -O1 -std=gnu90 -Wall -DZEPHIR_RELEASE=1"; $PHPIZE_BIN &> /dev/null && ./configure --silent --enable-phalcon &> /dev/null && make --silent -j4 &> /dev/null && make --silent install)
  - phpenv config-add tests/_ci/phalcon.ini
  - php --ri phalcon
  - phpenv config-add tests/_ci/redis.ini
  - php -m
  - pecl list
  - ulimit -c unlimited -S || true
  - echo '/tmp/core_%e.%p' | sudo tee /proc/sys/kernel/core_pattern &> /dev/null

script:
  - vendor/bin/phpunit --bootstrap tests/_ci/phpunit.php --debug unit-tests/
  - vendor/bin/codecept build
  - vendor/bin/codecept run -v

after_failure:
  - bash tests/_ci/after_failure.sh

notifications:
  email:
    - andres@phalconphp.com
    - eduar@phalconphp.com
    - nikos@phalconphp.com
    - serghei@phalconphp.com

addons:
  apt:
    packages:
      - gdb
      - re2c
