sudo: false

language: php
php:
  - 'master'
  - '7.3'
  - '7.2'

git:
  depth: 1

branches:
  only:
    - master
    - /^(4|5)\.\d+\.(\d+|x)$/

addons:
  apt:
    sources:
      - mysql-5.7-trusty
    packages:
      - beanstalkd
      - gdb
      - lcov
      - mysql-server
      - mysql-client
  postgresql: "9.4"

matrix:
  fast_finish: true
  allow_failures:
    - php: 'master'

cache:
  apt: true
  timeout: 604800
  directories:
    - ${HOME}/beanstalk
    - ${HOME}/.composer/cache
    - ${HOME}/pear
    - ${HOME}/.local/opt

services:
  - mysql
  - beanstalkd
  - mongodb
  - redis-server
  - postgresql

env:
  global:
    - CC="gcc"
    - ZEPHIR_VERSION="0.11.8"
    - RE2C_VERSION="1.1.1"
    - REPORT_COVERAGE=1
    - TEST_PHP_ARGS="--show-diff"
    - PATH="${HOME}/bin:${HOME}/.composer/vendor/bin:${PATH}"
    - DEFAULT_COMPOSER_FLAGS="--no-interaction --no-ansi --no-progress --no-suggest"

before_install:
  - if [ ! -z "${GITHUB_TOKEN}" ]; then composer config github-oauth.github.com ${GITHUB_TOKEN}; echo "Add Github token"; fi
  - export PHP_MAJOR="$(php -r 'echo phpversion();' | cut -d '.' -f 1)"
  - export PHP_MINOR="$(php -r 'echo phpversion();' | cut -d '.' -f 2)"
  - export PHP_VERNUM="$(php-config --vernum)"
  - tests/_ci/pear-setup.sh
  - tests/_ci/setup-dbs.sh
  - source tests/_ci/environment
  - export $(cut -d= -f1 tests/_ci/environment)
  - wget --no-clobber -O $HOME/bin/zephir https://github.com/phalcon/zephir/releases/download/${ZEPHIR_VERSION}/zephir.phar
  - chmod +x $HOME/bin/zephir

install:
  - tests/_ci/install-prereqs.sh
  - tests/_ci/install-re2c.sh
  - travis_retry composer install ${DEFAULT_COMPOSER_FLAGS}
  - travis_retry composer global require ${DEFAULT_COMPOSER_FLAGS} "phalcon/zephir:${ZEPHIR_VERSION}"
  - tests/_ci/build.sh

before_script:
  - ulimit -c unlimited -S || true
  - phpenv config-add tests/_ci/999-default.ini

script:
  # PHP_CodeSniffer does not work on PHP 7.3 (yet?)
  - if [ "$TRAVIS_PHP_VERSION" = "7.2" ]; then vendor/bin/phpcs; fi

  - vendor/bin/codecept build --quiet
  - vendor/bin/codecept run --ext DotReporter tests/cli/
  - vendor/bin/codecept run --ext DotReporter tests/integration/
  - vendor/bin/codecept run --ext DotReporter tests/unit/

  - .ci/run-volt-tests.sh

after_failure:
  - tests/_ci/after-failure.sh

after_success:
  - tests/_ci/after-success.sh

notifications:
  email: false
