language: php
php:
  - '7.4'
  - '7.3'
  - '7.2'

dist: bionic

branches:
  except:
    - /appveyor.*/

git:
  depth: 5
  quiet: true

addons:
  apt:
    packages:
      - gdb
      - shellcheck
      - libsodium-dev
  postgresql: "9.4"

matrix:
  fast_finish: true
  allow_failures:
    - env: ZEPHIR_VERSION="development"

cache:
  timeout: 604800
  directories:
    - ${HOME}/.composer/cache

services:
  - mysql
  - mongodb
  - redis-server
  - postgresql
  - memcached

env:
  global:
    - CC="gcc"
    - ZEPHIR_VERSION="0.12.15"
    - ZEPHIR_PARSER_VERSION="v1.3.2"
    - REPORT_COVERAGE=1
    - PATH="${HOME}/.composer/vendor/bin:${PATH}"
    - TRAVIS_COMMIT_LOG="$(git log --format=fuller -5)"
    - DEFAULT_COMPOSER_FLAGS="--no-interaction --no-ansi --no-progress --no-suggest"

before_install:
  - |
    # Core dump settings
    ulimit -c unlimited -S || true
    echo '/tmp/core.%e.%p.%t' | sudo tee /proc/sys/kernel/core_pattern

    if [ -n "$GITHUB_TOKEN" ]; then
      composer config github-oauth.github.com "$GITHUB_TOKEN"
      echo 'Add Github token'
    fi

    [ -d ~/bin ] || mkdir ~/bin
    export PHP_PEAR_PHP_BIN="$(phpenv which php)"

    if [ "$(php-config --vernum)" -ge "70400" ]
    then
      export DEFAULT_COMPOSER_FLAGS="$DEFAULT_COMPOSER_FLAGS --ignore-platform-reqs"
    fi

    # Hide "You are in 'detached HEAD' state" message
    git config --global advice.detachedHead false

  - source .ci/export-variables.sh

install:
  - .ci/setup-dbs.sh
  - .ci/install-zephir.sh
  - .ci/install-php-extensions.sh
  - eval "composer install $DEFAULT_COMPOSER_FLAGS"

before_script:
  - cat .ci/travis.ini >> "$(phpenv prefix)/etc/conf.d/travis.ini"
  - .ci/genparsers.sh
  - .ci/build.sh
  - zephir --version

script:
  - vendor/bin/codecept build --quiet
  - vendor/bin/codecept run --ext DotReporter tests/cli/
  - vendor/bin/codecept run --ext DotReporter tests/integration/
  - vendor/bin/codecept run --ext DotReporter tests/integration/
  - vendor/bin/codecept run --ext DotReporter tests/unit/

  - tests/run-syntax-tests.sh

jobs:
  include:
    - stage: Development Zephir version
      php: '7.4'
      env: ZEPHIR_VERSION="development"

after_failure:
  - echo "$($(phpenv which php) -v)"
  - echo "$($(phpenv which php) -m)"
  - .ci/after-failure.sh

after_success:
  - '[[ "$REPORT_COVERAGE" -eq 1 ]] && bash <(curl -s https://codecov.io/bash)'

after_script:
  - printf "$TRAVIS_COMMIT_RANGE\n"
  - printf "$TRAVIS_COMMIT_LOG\n"

notifications:
  email: false
