language: php

dist: trusty
sudo: false

php:
  - 'master'
  - '7.3'
  - '7.2'
  - '7.1'
  - '7.0'

git:
  depth: 1

branches:
  only:
    - master
    - /^(4|5)\.\d+\.(\d+|x)$/

addons:
  apt:
    sources:
      - mysql-5.7-trusty
    packages:
      - beanstalkd
      - gdb
      - lcov
      - mysql-server
      - mysql-client

matrix:
  fast_finish: true
  allow_failures:
    - php: 'master'
    - php: '7.3'

cache:
  apt: true
  timeout: 604800
  directories:
    - ${HOME}/beanstalk
    - ${HOME}/.composer/cache
    - ${HOME}/pear
    - ${HOME}/.local/opt
    - ${HOME}/.cache/composer

services:
  - beanstalkd
  - mongodb
  - redis-server
  - postgresql

env:
  global:
    - CC="gcc"
    - ZEPHIR_PARSER_VERSION="v1.1.2"
    - ZEPHIR_VERSION="0.10.12"
    - RE2C_VERSION="1.1.1"
    - REPORT_EXIT_STATUS=1
    - NO_INTERACTION=1
    - TEST_PHP_ARGS="--show-diff"
    - CFLAGS="-g -O0 -Wall -std=gnu90"
    - PATH="${HOME}/bin:${PATH}"
    - DEFAULT_COMPOSER_FLAGS="--no-interaction --no-ansi --no-progress --no-suggest"

before_install:
  - '[[ -z "${GH_TOKEN}" ]] || composer config github-oauth.github.com ${GH_TOKEN}; echo "Configured Github token"'
  - export PHP_MAJOR="$(`phpenv which php` -r 'echo phpversion();' | cut -d '.' -f 1)"
  - export PHP_MINOR="$(`phpenv which php` -r 'echo phpversion();' | cut -d '.' -f 2)"
  - export PHP_VERNUM="$(`phpenv which php-config` --vernum)"
  - ./tests/_ci/pear-setup.sh
  - ./tests/_ci/setup-dbs.sh
  - source "${TRAVIS_BUILD_DIR}/tests/_ci/environment"
  - export $(cut -d= -f1 ${TRAVIS_BUILD_DIR}/tests/_ci/environment)

install:
  - ./tests/_ci/install-prereqs.sh
  - travis_retry composer install ${DEFAULT_COMPOSER_FLAGS}
  - travis_retry composer global require "phalcon/zephir:${ZEPHIR_VERSION}"
  - ( cd ${HOME}/.composer/vendor/phalcon/zephir; ./install-nosudo )
  - ./tests/_ci/install-re2c.sh
  - ./tests/_ci/install-zephir-parser.sh
  - zephir generate
  - ./tests/_ci/precompile-headers.sh
  - |
      cd "${TRAVIS_BUILD_DIR}/ext"
      $(phpenv which phpize)
      ./configure --with-php-config=$(phpenv which php-config) --enable-phalcon
      make -j"$(getconf _NPROCESSORS_ONLN)" > "${TRAVIS_BUILD_DIR}/compile.log" 2> "${TRAVIS_BUILD_DIR}/compile-errors.log"
      make install
      cd "${TRAVIS_BUILD_DIR}"
  - phpenv config-add "${TRAVIS_BUILD_DIR}/tests/_ci/phalcon.ini"
  - phpenv config-add "${TRAVIS_BUILD_DIR}/tests/_ci/ci.ini"

before_script:
  - ulimit -c unlimited -S || true
  # see: https://github.com/sebastianbergmann/phpunit/pull/3359
  - '[[ "${PHP_VERNUM}" -lt 70300 ]] || export USE_ZEND_ALLOC=1'

script:
  # To avoud this:
  # sh: 1: /home/travis/build/phalcon/cphalcon/libtool: not found
  - ln -s ${TRAVIS_BUILD_DIR}/ext/libtool ${TRAVIS_BUILD_DIR}/libtool
  # Syntax recognize tests
  - |
      $(phpenv which php) "${TRAVIS_BUILD_DIR}/ext/run-tests.php" \
          -p $(phpenv which php) \
          -g "FAIL,XFAIL,BORK,WARN,LEAK,SKIP" \
          --offline \
          --show-diff \
          --set-timeout 120
  - vendor/bin/phpcs
  - vendor/bin/codecept build
  # TODO: Add `cli' suite and refactor current cli-tests
  - vendor/bin/codecept run -v -n tests/integration/
  - vendor/bin/codecept run -v -n tests/unit/
  # TODO: Refactor legacy unit tests from the "unit-tests" directory

after_failure:
  - ./tests/_ci/after-failure.sh

notifications:
  email: false
