<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="../phpunit.php"
         cacheDirectory="../tests/_output/.phpunit.result.cache"
         colors="true"
>
    <testsuites>
        <testsuite name="unit and mysql tests">
            <directory>../tests/unit/</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">../src</directory>
        </include>
    </source>
</phpunit>
