<h1 class="h1">Header</h1>

<h2 id="h2">Header 2</h2>

<h3 id="h3" class="h3">Header 3</h3>

<h1 id="H2" class="header H1">header</h1>

<h2 id="H2" class="header H2">header 2</h2>

<p>This is <a href="http://example.com/" title="Title" class="example">an example</a> inline link.</p>

<p><a href="http://example.net/" id="link">This link</a> has no title attribute.</p>

<p>See my <a href="/about/" id="about" class="about">About</a> page for details.</p>

<p>This is the <a href="/simple" class="example">simple case</a></p>

<p>This is the <a href="/simple" id="link">simple case</a></p>

<p>This is the <a href="/simple" id="about" class="abount">simple case</a></p>

<p>This is the <a href="/simple" target="_blank">simple case</a></p>

<p><a href="url" title="optional title" id="id" class="class">link</a></p>

<p><a href="url" title="optional title" id="id" class="class class-link">link</a></p>

<p><a href="url" title="optional title" id="id" target="_blank" class="class class-link">link</a></p>

<ul>
<li class="red">Red</li>
<li class="green">Green</li>
<li class="blue">Blue</li>
</ul>

<ol>
<li id="bird" class="list 1">Bird</li>
<li id="mchale" class="list 2">McHale</li>
<li id="parish" class="list 3">Parish</li>
</ol>

<ul>
<li id="1" class="red">Red
<ul>
<li id="2" class="green">Green
<ul>
<li id="3" class="blue">Blue</li>
</ul></li>
</ul></li>
</ul>

<hr>

<ul class="class-list ul">
<li class="red">Red</li>
<li class="green">Green</li>
<li class="blue">Blue</li>
</ul>

<ol class="class-list ol">
<li id="bird" class="list 1">Bird</li>
<li id="mchale" class="list 2">McHale</li>
<li id="parish" class="list 3">Parish</li>
</ol>

<ul class="class-list level-1">
<li id="1" class="red">Red
<ul class="class-list level-2">
<li id="2" class="green">Green
<ul class="class-list level-3">
<li id="3" class="blue">Blue</li>
</ul></li>
</ul></li>
</ul>

<hr>

<ol>
<li><p>Blah:</p>

<pre><code>$ ls test/{foo,bar}
</code></pre></li>
</ol>

<hr>

<table class="table1">
<thead>
<tr>
<th>Name</th>
<th>Age</th>
</tr>
</thead>

<tbody>
<tr>
<td>Fred</td>
<td>29</td>
</tr>
<tr>
<td>Jim</td>
<td>47</td>
</tr>
<tr>
<td>Harry</td>
<td>32</td>
</tr>
</tbody>
</table>

<table id="tbl2" class="table2">
<thead>
<tr>
<th>Name</th>
<th style="text-align: right">Age</th>
</tr>
</thead>

<tbody>
<tr>
<td>Fred</td>
<td style="text-align: right">29</td>
</tr>
<tr>
<td>Jim</td>
<td style="text-align: right">47</td>
</tr>
<tr>
<td>Harry</td>
<td style="text-align: right">32</td>
</tr>
</tbody>
</table>

<pre><code>code test
</code></pre>

<pre><code class="language-sh">code test
</code></pre>

<pre><code class="language-a">code test
</code></pre>

<pre><code class="class-1">code test
</code></pre>

<pre><code id="id-2" class="language-c class-2">code test
</code></pre>

<pre><code id="id-3" class="language-d class-3 class-4">code test
</code></pre>

<pre><code id="id-5" class="class-5">code test
</code></pre>
