<h1>Header 1</h1>

<h2>header 2</h2>

<ul>
<li>a</li>
<li>b</li>
</ul>

<h1>Extend</h1>

<p><strong>tables</strong></p>

<table>
<thead>
<tr>
<th>a</th>
<th>b</th>
<th>c</th>
</tr>
</thead>

<tbody>
<tr>
<td>A</td>
<td>B</td>
<td>C</td>
</tr>
<tr>
<td>D</td>
<td>E</td>
<td>F</td>
</tr>
</tbody>
</table>

<p><strong>fenced-code</strong></p>

<pre><code>code block
</code></pre>

<p><strong>autolink</strong></p>

<p><a href="http://www.google.co.jp">http://www.google.co.jp</a></p>

<p><strong>task</strong></p>

<ul>
<li><input type="checkbox"> a</li>
<li><input checked="" type="checkbox"> b</li>
</ul>
