<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="Phalcon PHP Framework">
            <file>unit-tests/InitTest.php</file>
            <file>unit-tests/UtilsTest.php</file>
            <file>unit-tests/ConfigTest.php</file>
            <file>unit-tests/FilterTest.php</file>
            <file>unit-tests/RequestTest.php</file>
            <file>unit-tests/DispatcherTest.php</file>
            <file>unit-tests/DbPoolTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
