<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="Phalcon PHP Framework">
            <file>unit-tests/InitTest.php</file>
            <file>unit-tests/UtilsTest.php</file>
            <file>unit-tests/ConfigTest.php</file>
            <file>unit-tests/FilterTest.php</file>
            <file>unit-tests/FlashTest.php</file>
            <file>unit-tests/RequestTest.php</file>
            <file>unit-tests/RouterRewriteTest.php</file>
            <file>unit-tests/DispatcherTest.php</file>
            <file>unit-tests/DbPoolTest.php</file>
            <file>unit-tests/DbTest.php</file>
            <file>unit-tests/DbDescribeTest.php</file>
            <file>unit-tests/DbDialectTest.php</file>
            <file>unit-tests/DbProfilerTest.php</file>
            <file>unit-tests/ModelsManagerTest.php</file>
            <file>unit-tests/ModelsMetadataTest.php</file>
            <file>unit-tests/ModelsTest.php</file>
            <file>unit-tests/ModelsRelationsTest.php</file>
            <file>unit-tests/ModelsValidatorsTest.php</file>
            <file>unit-tests/TransactionsTest.php</file>
            <file>unit-tests/ViewTest.php</file>
            <file>unit-tests/ControllersTest.php</file>
            <file>unit-tests/ControllerFrontTest.php</file>
            <file>unit-tests/TagTest.php</file>
            <file>unit-tests/CacheTest.php</file>
            <file>unit-tests/AclTest.php</file>
            <file>unit-tests/PaginatorTest.php</file>
            <file>unit-tests/LoggerTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
