<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./PhalconTestHelper.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         verbose="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true">
    <testsuite name="PhalconPHP - Testsuite">
        <directory>./</directory>
    </testsuite>
    <filter>
        <blacklist>
            <exclude>
                <directory>./engines</directory>
            </exclude>
        </blacklist>
    </filter>
</phpunit>
