<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./PhalconTestHelper.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         verbose="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true">
    <testsuite name="stable">
        <file>./Phalcon/Escaper/UnitTest.php</file>
        <!-- <file>./Phalcon/Flash/Direct/CustomCSSTest.php</file> -->
        <!-- <file>./Phalcon/Flash/Direct/DefaultCSSTest.php</file> -->
        <!-- <file>./Phalcon/Flash/Direct/EmptyCSSTest.php</file> -->
        <!-- <file>./Phalcon/Logger/Adapter/File/UnitTest.php</file> -->
        <!-- <file>./Phalcon/Mvc/Model/Query/Builder/UnitTest.php</file> -->
        <!-- <file>./Phalcon/Translate/Adapter/NativeArray/UnitTest.php</file> -->
        <!-- <file>./Phalcon/View/Engines/Volt/UnitTest.php</file> -->
        <file>./Phalcon/Acl/Resource/UnitTest.php</file>
        <file>./Phalcon/Acl/Role/UnitTest.php</file>
        <!-- <file>./Phalcon/Acl/Adapter/Memory/UnitTest.php</file> -->
        <file>./Phalcon/Http/Request/UnitTest.php</file>
        <!-- <file>./Phalcon/Http/Response/UnitTest.php</file> -->
        <!-- <file>./Phalcon/Filter/UnitTest.php</file> -->
        <file>./Phalcon/Security/UnitTest.php</file>
        <!-- <file>./Phalcon/Tag/UnitTest.php</file> -->
    </testsuite>
    <testsuite name="PHPT Test Suite">
        <file>tests/PHPTTestSuite.php</file>
    </testsuite>
</phpunit>
