name: Build Dockerfiles

on:
  push:
    paths:
      - 'docker/**'

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php: [ '8.0', '8.1', '8.2', '8.3' ]

    name: Build Dockerfile PHP ${{ matrix.php }}
    steps:
      - uses: actions/checkout@v4

      - name: Build Dockerfile
        run: docker build docker/${{ matrix.php }}
