name: Install Phalcon

on:
  push:
  pull_request:

jobs:
  build:
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    runs-on: ubuntu-20.04

    strategy:
      fail-fast: false
      matrix:
        php-versions: ['7.4', '8.0']

    name: Install with PHP ${{ matrix.php-versions }}
    steps:
      - uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: mbstring, intl, json, psr
          tools: pecl

      - name: Install from build/ directory
        run: |
          cd build/
          php gen-build.php
          sudo ./install

      - name: Validate extension
        run: php -d extension=phalcon -r 'echo (new Phalcon\Support\Version())->get();' || exit 1
